@charset "UTF-8";
#token-action-hud .charged {
  align-items: center;
  display: flex;
  font-size: 0.65rem;
}
#token-action-hud .charged:before {
  content: "\e923";
  font-family: "RPGAwesome";
  margin: 0.2rem;
  scale: 1.25;
}
#token-action-hud .flat-disabled {
  pointer-events: none;
}
#token-action-hud .action-nulled-out .roll-modifier,
#token-action-hud .action-nulled-out .tah-action-button-text {
  opacity: 0.6;
}
#token-action-hud .action-nulled-out .tah-action-button-content::before {
  content: "Ø";
  color: #cf4e6e;
}
#token-action-hud .roll-modifier {
  font-size: 1rem;
}