<div class="form-group tags">
	<label>{{localize "PF1.Tags"}}</label>
  <div class="form-fields">
    <ul class="tag-list">
      {{#each system.tags as |tag|}}
      <li class="tag">{{tag}}</li>
      {{/each}}
    </ul>
    <a class="entry-selector" data-for="system.tags" data-fields="PF1.Tags" data-dtypes="String" data-flat="true" data-title="PF1.Tags"><i class="fa-solid fa-edit" inert></i></a>
  </div>
</div>
