
{{#if creatureTypes.total.size}}
<ul class="property-list creature-types">
  <h5>{{localize "PF1.CreatureTypes.Plural"}}</h5>

  {{#each creatureTypes.selected}}
  <li class="property type">{{this}}</li>
  {{/each}}
</ul>
{{/if}}

{{#if creatureSubtypes.total.size}}
<ul class="property-list creature-subtypes">
  <h5>{{localize "PF1.CreatureSubTypes.Plural"}}</h5>

  {{#each creatureSubtypes.selected}}
  <li class="property type">{{this}}</li>
  {{/each}}
</ul>
{{/if}}
