<form autocomplete="off" onsubmit="event.preventDefault();" class="swp-derived-config-form">

  <div class="form-group stacked">
    <label for="swpDerived">{{{localize "simpleWorldbuildingPlus.settings.derived.hint"}}}</label>
    <textarea name="swpDerived" class="pbta-sheet-config" rows="10">
    {{~" "}}{{{swpDerived}}}{{" "~}}
    </textarea>
  </div>

  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize 'PERMISSION.Submit'}}
    </button>
  </div>
</form>
