<section class="form-body" data-tooltip-class="pf1-v2">
  {{formGroup fields.reachLimit value=settings.reachLimit localize=true
    label="PF1.Application.Settings.Performance.Options.reachLimit.Label" hint="PF1.Application.Settings.Performance.Options.reachLimit.Hint"}}
</section>
